bootstrap/cache/*


gifs/*.gif
logs/*

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

#vendor/**/*

node_modules/**/*
.gitignore
.gitattributes

docker-compose.yml
Dockerfile